body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    padding: 0;
    background-color: #313d57;
}
.header{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px red solid; */
}

.main{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 3px red solid; */
}
button{
    border: white 3px solid;
    background-color: #313d57;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}
button img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
}
.result{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
